<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-info card-header-icon">
            <div class="card-icon">
              <i class="material-icons">search</i>
            </div>
            <p class="card-category"><%= t ".total_courses" %></p>
            <h3 class="card-title">10</h3>
          </div>
          <div class="card-footer">
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-warning card-header-icon">
            <div class="card-icon">
              <i class="material-icons">cached</i>
            </div>
            <p class="card-category"><%= t ".inprogress" %></p>
            <h3 class="card-title">6</h3>
          </div>
          <div class="card-footer">
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-success card-header-icon">
            <div class="card-icon">
              <i class="material-icons">done</i>
            </div>
            <p class="card-category"><%= t ".completed" %></p>
            <h3 class="card-title">3</h3>
          </div>
          <div class="card-footer">
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-danger card-header-icon">
            <div class="card-icon">
              <i class="material-icons">https</i>
            </div>
            <p class="card-category"><%= t ".not_started" %></p>
            <h3 class="card-title">1</h3>
          </div>
          <div class="card-footer">
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="card card-chart">
          <div class="card-header card-header-success">
            <h4 class="card-title"><%= t ".completed" %></h4>
            <p class="card-category"><%= t ".completed_msg" %></p>
          </div>
          <div class="card-body">
            <h4 class="card-title">Course's name</h4>
            <p class="card-category">
              Start date - End date
            </p>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons">access_time</i>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card card-chart">
          <div class="card-header card-header-warning">
            <h4 class="card-title"><%= t ".inprogress" %></h4>
            <p class="card-category"><%= t ".inprogress_msg" %></p>
          </div>
          <div class="card-body">
            <h4 class="card-title">Course's name</h4>
            <p class="card-category">Start date - End date</p>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons">access_time</i>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card card-chart">
          <div class="card-header card-header-danger">
            <h4 class="card-title"><%= t ".not_started" %></h4>
            <p class="card-category"><%= t ".not_started_msg" %></p>
          </div>
          <div class="card-body">
            <h4 class="card-title">Course's name</h4>
            <p class="card-category">Start date - End date</p>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons">access_time</i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
