<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-info">
            <h4 class="card-title "><%= t ".course_name" %></h4>
            <p class="card-category"><%= t ".course_desc" %></p>
          </div>
          <div class="card-body">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam justo
              ipsum, congue sit amet mattis vel, ultrices eget quam. Sed facilisis,
              urna ut varius dapibus, mi arcu tempor metus, ut vestibulum ante turpis
              nec magna. Suspendisse posuere metus non aliquam elementum. Suspendisse
              sollicitudin enim quis diam commodo, sed varius nulla iaculis. Morbi
              efficitur laoreet semper. Etiam luctus nisl ac suscipit venenatis.
              Maecenas pulvinar porttitor dolor quis auctor. Maecenas non ligula diam.
              Donec rhoncus rhoncus neque, in tempor velit gravida ac. Quisque eget
              risus congue, fringilla orci vel, dignissim erat. Praesent dignissim
              turpis nisi, sit amet tincidunt diam imperdiet nec. Aliquam erat
              volutpat. Pellentesque a tortor rutrum, pellentesque ante at, hendrerit
              est. In congue, nulla pulvinar tristique convallis, sapien enim
              consectetur ante, eget aliquet libero ipsum nec nibh. Donec et pharetra
              augue.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-primary">
            <h4 class="card-title "><%= t ".subject" %></h4>
            <p class="card-category"><%= t ".subject_msg" %></p>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead class=" text-primary">
                  <th>
                    <%= t ".subject_name" %>
                  </th>
                  <th>
                    <%= t ".subject_sd" %>
                  </th>
                  <th>
                    <%= t ".subject_ed" %>
                  </th>
                  <th>
                    <%= t ".subject_stt" %>
                  </th>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      Subject 1
                    </td>
                    <td>
                      1/1/2018
                    </td>
                    <td>
                      12/12/2018
                    </td>
                    <td>
                      <p class="text-warning">Inprogress</p>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Subject 2
                    </td>
                    <td>
                      1/1/2018
                    </td>
                    <td>
                      12/12/2018
                    </td>
                    <td>
                      <p class="text-success">completed</p>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Subject 3
                    </td>
                    <td>
                      1/1/2018
                    </td>
                    <td>
                      12/12/2018
                    </td>
                    <td>
                      <button class="btn btn-primary btn-sm">start</button>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Subject 4
                    </td>
                    <td>
                      1/1/2018
                    </td>
                    <td>
                      12/12/2018
                    </td>
                    <td>
                      <p class="text-danger">not started</p>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
