<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <%= search_form_for @q, url: supervisor_courses_path,
          class: "navbar-form w-50" do |f| %>
          <div class="input-group no-border">
            <%= f.search_field :name_cont, class: "form-control",
              placeholder: t(".search") %>
            <%= f.submit class:"btn btn-primary btn-sm" %>
          </div>
        <% end %>
        <div class="card">
          <div class="card-header card-header-primary">
            <h4 class="card-title "><%= t ".courses" %></h4>
            <p class="card-category">
              <%= t(".courses_total", count: Course.count) %>
            </p>
          </div>
          <div class="card-body">
            <%= t(".results_found", count: @q.result.count) %>
            <div class="table-responsive">
              <table class="table">
                <thead class=" text-primary">
                  <th>
                    #
                  </th>
                  <th>
                    <%= sort_link(@q, :name) do %>
                      <%= t ".course_name" %>
                    <% end %>
                  </th>
                  <th>
                    <%= sort_link(@q, :start_date) do %>
                      <%= t ".course_sd" %>
                    <% end %>
                  </th>
                  <th>
                    <%= sort_link(@q, :end_date) do %>
                      <%= t ".course_ed" %>
                    <% end %>
                  </th>
                  <th>
                    <%= t ".course_stt" %>
                  </th>
                  <th>
                    #
                  </th>
                </thead>
                <tbody>
                  <%= render @courses %>
                </tbody>
              </table>
              <%= paginate @courses %>
              <%= link_to t(".add_course"), new_supervisor_course_path,
                class: "btn btn-primary pull-right" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
