<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <%= search_form_for @q, url: supervisor_users_path,
          class: "navbar-form w-50" do |f| %>
          <div class="input-group no-border">
            <%= f.search_field :name_cont, class: "form-control",
              placeholder: t(".search") %>
            <%= f.submit class: "btn btn-primary btn-sm" %>
          </div>
        <% end %>
        <div class="card">
          <div class="card-header card-header-primary">
            <h4 class="card-title"><%= t ".users" %></h4>
            <p class="card-category">
              <%= t(".users_total", count: @q.result.count) %>
            </p>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <%= t(".results_found", count: @q.result.count) %>
              <table class="table table-hover">
                <thead class="text-primary">
                  <th>
                    #
                  </th>
                  <th>
                    <%= sort_link(@q, :name) %>
                  </th>
                  <th>
                    <%= sort_link(@q, :email) %>
                  </th>
                  <th>
                    <%= sort_link(@q, :supervisor) do %>
                      <%= t ".user_role" %>
                    <% end %>
                  </th>
                  <th>
                    #
                  </th>
                </thead>
                <tbody>
                  <%= render @users %>
                </tbody>
              </table>
              <%= paginate @users %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
