<tr>
  <td>
    <%= link_to subject.name, course_subject_path(subject) %>
  </td>
  <td>
    <%= subject.start_date %>
  </td>
  <td>
    <%= subject.end_date %>
  </td>
  <td>
    <% if subject.status.nil? %>
      <p class="text-danger"><%= t ".not_start" %></p>
    <% elsif subject.status %>
      <p class="text-warning"><%= t ".finished" %></p>
    <% else %>
      <button class="btn btn-primary btn-sm"><%= t ".start" %></button>
    <% end %>
  </td>
</tr>
