<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6 col-md-12">
        <div class="card">
          <div class="card-header card-header-primary">
            <h4 class="card-title"><%= t(".tasks", count: @subject.tasks.count) %></h4>
            <p class="card-category"><%= t ".task_msg" %></p>
          </div>
          <div class="card-body">
            <div class="tab-content">
              <%= form_for @user_subject,
                url: course_subject_user_subject_path(@course, @subject, find_user_subject(current_user, @subject)) do |f| %>
                <div class="tab-pane active" id="profile">
                  <table class="table table-hover">
                    <tbody>
                    <%= f.fields_for :user_tasks do |ff| %>
                      <tr>
                        <td></td>
                        <% user_task = ff.object %>
                        <% if user_task.status %>
                          <td>
                            <div class="form-check">
                              <label class="form-check-label">
                                <%= ff.check_box :status, {checked: true, disabled: true, class: "form-check-input"}, 1, "" %>
                                <span class="form-check-sign">
                                  <span class="check"></span>
                                </span>
                              </label>
                            </div>
                          </td>
                        <% else %>
                          <td>
                            <div class="form-check">
                              <label class="form-check-label">
                                <%= ff.check_box :status, {checked: false, class: "form-check-input"}, 1, "" %>
                                <span class="form-check-sign">
                                 <span class="check"></span>
                                </span>
                              </label>
                            </div>
                          </td>
                        <% end %>
                        <td><%= user_task.task.detail %></td>
                      </tr>
                    <% end %>
                    </tbody>
                  </table>
                  <%= f.submit t(".save"), class: "btn btn-primary pull-right" %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-12">
        <div class="card">
          <div class="card-header card-header-warning">
            <h4 class="card-title"><%= @subject.name %></h4>
            <p class="card-category"><%= t ".subject_detail" %></p>
          </div>
          <div class="card-body">
            <p>
              <%= @subject.detail %>
            </p>
            <%= link_to t(".back"), course_path(@course), class: "btn btn-warning pull-right" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
