<tr>
  <td>
  </td>
  <td>
    <%= link_to course.name, course_path(course), class: "text-dark" %>
  </td>
  <td>
    <%= course.start_date %>
  </td>
  <td>
    <%= course.end_date %>
  </td>
  <td>
    <% if course.status.nil? %>
      <i class="material-icons text-danger">lock</i>
    <% else %>
      <% if course_start course %>
        <% if course_done course %>
          <i class="material-icons text-success">done</i>
        <% else %>
          <i class="material-icons text-warning">cached</i>
        <% end %>
      <% else %>
        <%= form_for course do |f| %>
          <%= f.submit t(".start"), class: "btn btn-primary btn-sm" %>
        <% end %>
      <% end %>
    <% end %>
  </td>
</tr>
