<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-primary card-header-icon">
            <div class="card-icon">
              <i class="material-icons"><%= Settings.icons_search %></i>
            </div>
            <p class="card-category"><%= t ".total_courses" %></p>
            <h3 class="card-title"><%= @total %></h3>
          </div>
          <div class="card-footer">
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-warning card-header-icon">
            <div class="card-icon">
              <i class="material-icons"><%= Settings.icons_cached %></i>
            </div>
            <p class="card-category"><%= t ".inprogress" %></p>
            <h3 class="card-title"><%= @inprogress %></h3>
          </div>
          <div class="card-footer">
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-success card-header-icon">
            <div class="card-icon">
              <i class="material-icons"><%= Settings.icons_done %></i>
            </div>
            <p class="card-category"><%= t ".completed" %></p>
            <h3 class="card-title"> <%= @completed %></h3>
          </div>
          <div class="card-footer">
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-danger card-header-icon">
            <div class="card-icon">
              <i class="material-icons"><%= Settings.icons_https %></i>
            </div>
            <p class="card-category"><%= t ".not_started_or_closed" %></p>
            <h3 class="card-title"><%= @locked %></h3>
          </div>
          <div class="card-footer">
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <%= search_form_for @q, url: courses_path,
          class: "navbar-form w-50" do |f| %>
          <div class="input-group no-border">
            <%= f.search_field :name_cont, class: "form-control",
              placeholder: t(".search") %>
            <%= f.submit class:"btn btn-primary btn-sm" %>
          </div>
        <% end %>
        <div class="card">
          <div class="card-header card-header-primary">
            <h4 class="card-title "><%= t ".your_courses" %></h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <%= t(".results_found", count: @q.result.count) %>
              <table class="table table-hover">
                <thead class=" text-primary">
                  <th>
                    #
                  </th>
                  <th>
                    <%= sort_link(@q, :name) do %>
                      <%= t ".name" %>
                    <% end %>
                  </th>
                  <th>
                    <%= sort_link(@q, :start_date) do %>
                      <%= t ".start" %>
                    <% end %>
                  </th>
                  <th>
                    <%= sort_link(@q, :end_date) do %>
                      <%= t ".end" %>
                    <% end %>
                  </th>
                  <th>
                    <%= t ".status" %>
                  </th>
                </thead>
                <tbody>
                  <%= render @courses %>
                </tbody>
              </table>
              <%= paginate @courses %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
