<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-info">
            <h4 class="card-title ">
              <%= @course.name %>
            </h4>
            <p class="card-category">
            </p>
          </div>
          <div class="card-body">
            <p>
              <%= @course.description %>
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <%= search_form_for @q, url: course_path(@course),
          class: "navbar-form w-50" do |f| %>
          <div class="input-group no-border">
            <%= f.search_field :name_cont, class: "form-control",
              placeholder: t(".search") %>
            <%= f.submit class:"btn btn-primary btn-sm" %>
          </div>
        <% end %>
        <div class="card">
          <div class="card-header card-header-primary">
            <h4 class="card-title "><%= t(".subject",
              count: @course.subjects.count) %></h4>
            <p class="card-category"><%= t ".subject_msg" %></p>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <%= paginate @subjects %>
              <%= t(".results_found", count: @q.result.count) %>
              <table class="table table-hover">
                <thead class=" text-primary">
                <th>
                  #
                </th>
                <th>
                  <%= sort_link(@q, :name) do %>
                    <%= t ".subject_name" %>
                  <% end %>
                </th>
                <th>
                  <%= sort_link(@q, :start_date) do %>
                    <%= t ".subject_sd" %>
                  <% end %>
                </th>
                <th>
                  <%= sort_link(@q, :end_date) do %>
                    <%= t ".subject_ed" %>
                  <% end %>
                </th>
                <th>
                  <%= t ".subject_stt" %>
                </th>
                </thead>
                <tbody>
                  <%= render @subjects %>
                </tbody>
              </table>
              <%= paginate @subjects %>
            </div>
          </div>
        </div>
        <%= link_to t(".back"), courses_path, class: "btn btn-primary btn-sm pull-right" %>
      </div>
    </div>
  </div>
</div>
